apiVersion: apps/v1
kind: Deployment
metadata:
  name: lineaje-nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lineaje-nginx-app
  template:
    metadata:
      labels:
        app: lineaje-nginx-app
    spec:
      containers:
        - name: back-end
          image: 440953937617.dkr.ecr.us-east-2.amazonaws.com/argo-aws-kustomize:deb9448664f2485cd2a83ed1510e602da62f8e9b
          ports:
            - containerPort: 80
          env:
          - name: DOCKER_ENV
            value: "dev"
---
#Service
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: lineaje-nginx
  name: lineaje-nginx
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: lineaje-nginx-app
  sessionAffinity: None
  type: ClusterIP
---
# Ingress
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lineaje-nginx
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: lineaje-ngnix.lineaje.opsera.io
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: lineaje-nginx
            port:
              number: 80
